<h1>Editing appointment</h1>

<% form_for(@appointment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :appointment_kind %><br />
    <%= f.text_field :appointment_kind %>
  </p>
  <p>
    <%= f.label :patient %><br />
    <%= f.text_field :patient %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.time_select :start %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @appointment %> |
<%= link_to 'Back', appointments_path %>